streamlit
sentence-transformers
scikit-learn
nltk
mistralai==1.2.5
pypdf
pandas
python-dotenv
openai-whisper
streamlit-mic-recorder
torch
torchvision
python-docx
PyPDF2
supabase
reportlab>=4.0.0
PyPDF2>=3.0.0
pymupdf
